body,html{
    font-family: 'Kanit', sans-serif;
    height: 100%;
    background-color: rgb(27, 27, 27);
}
.Title{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.GradiantText{
    display: block;
    width: fit-content;
    background-image: 
    linear-gradient(90deg, red, rgb(101, 101, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 2;
}
.Container{
    aspect-ratio: 16 / 9;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 10%;
    box-shadow: 16px 14px 20px #000008;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.Container:before{
    aspect-ratio: 16 / 9;
    content: "";
    position: absolute;
    height: 70vh;
    width: 90vw;
    background-image: conic-gradient( red 20deg, rgb(101, 101, 255),transparent 120deg);
    animation: rotate 1.5s linear infinite;
}
.carrito {
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 75vw;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1.6fr 0.2fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Productos Productos"
      "Productos Productos"
      "textoTotal total"
      "guardar guardar";
  }
  li{
    display: flex;
    justify-content: space-between;
    padding: 2.5px;
  }
  #productos { grid-area: Productos; 
list-style:none;
padding-left: 0;}
  #textoTotal { grid-area: textoTotal; }
  #montoTotal { grid-area: total; 
text-align: right;}
  .botonesCarrito { 
    padding: 10px;
    background-color: rgb(27, 27, 27);
    grid-area: guardar;
display: flex;
justify-content: space-around;}
  .contenedorBotones{
    display: flex;
  }
  .contenedorProductos{
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 10px;
    padding: 10px;
    justify-content: space-around;
  }
  .cartaProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 30vw;
    padding: 10px;
    text-align: center;
  }
  .cartaProducto img{
    height: 130px;
    width: 90px;
    margin: 5px;
  }

@keyframes rotate{
    from{
        transform: rotate (0);
    }
    to{
        transform: rotate(-360deg);
    }
}
.Container:after{
    content: "";
    position: absolute;
    height: 40vh;
    width: 30vw;
    background-color: #000008;
    border-radius: 10%;
    aspect-ratio: 16 / 9;
}